<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
  </head>

  <body>
    <%= render partial: "/layouts/header" %>

    <div class="container">
     <%= yield %>
    </div>
  </body>
</html>
